[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
dj-database-url = "*"
django-compressor = "*"
python-dotenv = "*"
django-debug-toolbar = "*"
django-crispy-forms = "*"
django-echarts = "*"
pyecharts = "==0.4.1"
channels = "*"
channels-redis = "*"
"django-bootstrap3" = "*"
django-import-export = "*"
websocket-client = "*"
schedule = "*"
alog = "*"
djangorestframework = "*"
requests = "*"
pytest-django = "*"
django-rest-swagger = "*"
dj-static = "*"

[dev-packages]

[requires]
python_version = "3.6"
