{% extends 'films/_base.html' %} 
{% load echarts films_tags %} 

{% load staticfiles %}

{% block content %}
<ul class="breadcrumb">
    {% block bar %}{{ block.super }}
    <!--<li class="active"><a href="#">{{ view|split }}</a></li>-->
    <li class="active">儀表板</li>
    {% endblock bar %}
</ul>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>注意！</strong>顯示為當下到過去 1 小時資料，資料自動更新
        </div>
    </div>
    <!-- alert information-->
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">稼動率 (單位:百分比)</h3>
            </div>
            <div class="panel-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Panel 1-->
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">生產率 (單位:張/小時)</h3>
            </div>
            <div class="panel-body" align="center">
                <div class="panel2"></div>
            </div>
        </div>
    </div>
    <!-- Panel 2-->
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">累計停機 (單位:分鐘)</h3>
            </div>
            <div class="panel-body" align="center">
                <div class="panel3"></div>
            </div>
        </div>
    </div>
    <!-- Panel 3-->
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">間距檢測不良 (單位:張)</h3>
            </div>
            <div class="panel-body" align="center">
                <div class="panel4"></div>
            </div>
        </div>
    </div>
    <!-- Panel 4-->
</div>

<div class="row">
    <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar">
        <div class="list-group">
            <a href="javascript:" class="list-group-item" data-echarts-name="yield">產能</a>
            <a href="javascript:" class="list-group-item" data-echarts-name="scatter">分佈</a>
        </div>
    </div>
    <!--/.sidebar-offcanvas-->
    <div class="col-xs-12 col-sm-10">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <div id="id_echarts_container_yield" style="height: 400px;"></div>
        <div id="id_echarts_container_scatter" style="height: 300px;"></div>
    </div>
    <!--/.col-xs-12.col-sm-9-->
</div>

{% endblock %} 


{% block extra_script %}
<script src="https://cdn.bootcss.com/echarts/3.8.5/echarts.min.js"></script>
<script src="http://echarts.baidu.com/asset/map/js/china.js"></script>
<script src="{% static 'films/js/load_chart.js' %}"></script>
<script src="{% static 'films/js/get_static.js' %}"></script>
{% endblock %}