Django==2.1
django-environ==0.4.5
dj-database-url==0.5.0
django-compressor==2.2
python-dotenv==0.9.0
django-debug-toolbar==1.9.1
django-crispy-forms==1.7.2
django-echarts==0.3.6
pyecharts==0.4.1
channels==2.1.2
channels-redis==2.2.1
django-bootstrap3==10.0.1
django-import-export==1.0.1
websocket-client==0.48.0
schedule==0.5.0
alog==0.9.13
djangorestframework==3.8.2
requests==2.19.1
pytest-django==3.3.3
django-rest-swagger==2.2.0
dj-static==0.0.6
uwsgi